body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url(/123.jpeg) no-repeat center fixed;
  background-size: contain;
  background-color: black;
}

body .calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24vh;
}

.button {
  width: 50px;
  height: 42px;
  border-radius: 15px;
  font-size: 25px;
  background: none;
  border: 2px solid black;
  display: block;
  position: relative;
  text-transform: uppercase;
}

button,
button::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

button::before,
button::after {
  background: black;
  content: " ";
  border-radius: 12px;
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #93ed0c;
}

button::after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

button:hover:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

button:active {
  box-shadow: 0 0 30px #93ed0c;
  position: relative;
  top: 5px;
}

.calculator {
  width: 15vh;
  height: 43vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calculator_bar {
  display: flex;
  padding: 1px;
  text-align: left;
  background-color: black;
  color: white;
}

.calculator_bar span {
  display: block;
  margin: 2px 2px 2px 10px;
}

.con1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10vh;
}

.calculator_display {
  background-color: rgba(128, 128, 128, 0.788);
  height: 50px;
  width: 500px;
  margin: 5px 100px 5px;
  padding: 50px 5px 10px 5px;
  border-radius: 15px;
  font-size: 5vh;
  color: #93ed0c;
  display: flex;
  flex-direction: row-reverse;
}

.calculator_display span {
  margin: 5px;
}

.button_space1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  padding: 5px 10px;
}

.button_space2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
}

.button_space3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
}

.button_space4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
}

.button_space5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
}
