body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url(/123.jpeg) no-repeat center fixed;
  background-size: contain;
  background-color: black;
  font-family: "DotGothic16", sans-serif;
}

body .calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50% 45%;
  width: 10vw;
  height: 20vh;
  min-width: 5vh;
  min-height: 10vh;
}

.button {
  width: 6vw;
  height: 3.8vh;
  min-width: 3vh;
  min-height: 3vh;
  margin: 0px 3px;
  border-radius: 15px;
  font-size: 3vw;
  background: none;
  border: 2px dashed black;
  display: block;
  position: relative;
  text-transform: uppercase;
  font-family: "DotGothic16", sans-serif;
}

button,
button::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

button::before,
button::after {
  background: black;
  content: " ";
  border-radius: 11px;
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #93ed0c;
}

button::after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

button:hover:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

button:active {
  box-shadow: 0 0 30px #93ed0c;
  position: relative;
  top: 5px;
}

.calculator {
  width: 30vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.calculator_bar {
  display: flex;
  padding: 1px;
  text-align: left;
  background-color: black;
  color: white;
}

.calculator_bar span {
  display: block;
  margin: 2px 2px 2px 10px;
}

.con1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10vh;
}

.calculator_display {
  background-color: rgba(128, 128, 128, 0.788);
  height: 10vh;
  width: 100vw;
  border-radius: 15px;
  color: #93ed0c;
  display: flex;
  flex-direction: column-reverse;
}

.calculator_display div {
  font-size: 5vw;
  text-align: end;
}

.button_space1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2px;
  min-width: 5vh;
}

.button_space2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
}

.button_space3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
}

.button_space4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
}

.button_space5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
}
